{% extends 'base.html' %}
{% block content %}
{% for msg in object_list %}
<h3>{{ msg.sender.username }}</h3>
<p>{{ msg.message_text }}</p>
{% endfor %}
<div>
    {% if page_obj.has_previous %}
    <a href="/mymessages/?sortby={{ cursort }}&page={{ page_obj.previous_page_number }}"
      >Previous</a
    >
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="/mymessages/?sortby={{ cursort }}&page={{ page_obj.next_page_number }}"
      >Next</a
    >
    {% endif %}
  </div>
{% endblock content %}