<nav class="navbar navbar-expand-lg navbar-secondary bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Quizgo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li><a class="nav-item nav-link" href="{% url 'badges' %}">All Badges</a></li>
          <li><a class="nav-item nav-link" href="{% url 'score_board' %}">Leaderboard</a></li>
          {% if user.is_staff %}
          <li><a class="nav-item nav-link" href="{% url 'admin:index' %}" target="none">Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'user_profile' request.user.id%}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'mymessages' %}">My Messages</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <pre>       </pre>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="messages">
		{% if messages %}
			<ul class="messages centered">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>