{% extends 'base.html' %}
{% block content %}
<div id="landing" class="grid-container">
    <div class="item1">
        <h1 class="header">Welcome to Quizgo!</h1>
        <p>Click the button on the right to start answering random questions from any category! Each time you get a question right, you earn points! The more questions you get right in a row, the more points you earn for each question!</p>
    </div>
    <div class="item2">
        <a href="{% url 'question' random_number %}?ran=t" class="text-decoration-none">
            <button class="text-black-50 font-weight-bold btn btn-light btn-lg btn-huge">Play!</button>
        </a>
    </div>
</div>
<div id="main-page bg-light">
    <p><a href="{% url 'question' cat_Python %}">Python questions</a></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Easy Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 5 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <a href="#" class="btn btn-success">Play Challenge</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Medium Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 10 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <a href="#" class="btn btn-warning">Play Challenge</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Hard Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 15 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <a href="#" class="btn btn-danger">Play Challenge</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}