{% extends 'base.html' %}
{% block content %}
<div id="landing">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="header">
            Welcome to Quizgo!
        </h1>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-success ml-6"><a href="#" class="text-black-50 font-weight-bold text-decoration-none">Play!</a></button>
    </div>
</div>
<div id="main-page bg-light">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Easy Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 5 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <a href="#" class="btn btn-success">Play Challenge</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Medium Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 10 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <a href="#" class="btn btn-warning">Play Challenge</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Hard Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 15 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <a href="#" class="btn btn-danger">Play Challenge</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}