{% extends 'base.html' %}
{% block content %}
<div id="landing" class="grid-container">
    <div class="item1">
        <h1 class="header">Welcome to Quizgo!</h1>
        <p>Click the button on the right to start answering random questions from any category! Each time you get a question right, you earn points! The more questions you get right in a row, the more points you earn for each question!</p>
    </div>
    <div class="item2">
        <a href="{% url 'question' random_number %}?random=t" class="text-decoration-none">
            <button class="text-black-50 font-weight-bold btn btn-light btn-lg btn-huge">Play!</button>
        </a>
    </div>
</div>
{% if user.is_authenticated %}
<div id="main-page bg-light">
    <button class="btn btn-primary main-btn" type="button" data-bs-toggle="collapse" data-bs-target="#categories" aria-expanded="false" aria-controls="categories">
      Categories
    </button>
    <div class="row row-cols-1 row-cols-md-3 g-4 collapse" id="categories">
      <div class="col main-card">
        <div class="card h-100" id="python">
          <div class="card-body">
            <h5 class="card-title">Python Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Python %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="html">
          <div class="card-body">
            <h5 class="card-title">HTML/CSS Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_HTML %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="django">
          <div class="card-body">
            <h5 class="card-title">Django Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Django %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="math">
          <div class="card-body">
            <h5 class="card-title">Math Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Math %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="science">
          <div class="card-body">
            <h5 class="card-title">Science Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Science %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="history">
          <div class="card-body">
            <h5 class="card-title">History Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_History %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="video-games">
          <div class="card-body">
            <h5 class="card-title">Video Game Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Videogames %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="movies">
          <div class="card-body">
            <h5 class="card-title">Movie Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Movies %}">Play now!</a></p>
          </div>
        </div>
      </div>
      <div class="col main-card">
        <div class="card h-100" id="food">
          <div class="card-body">
            <h5 class="card-title">Food Questions</h5>
            <p class="card-text"><a href="{% url 'question' cat_Food %}">Play now!</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary main-btn" type="button" data-bs-toggle="collapse" data-bs-target="#challenges" aria-expanded="false" aria-controls="challenges">
      All Challenges
    </button>
    <div class="row row-cols-1 row-cols-md-3 g-4 collapse" id="challenges">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Easy Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 5 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <form action="{% url 'challenge' user.pk %}?ch=5" method="post">
                {% csrf_token %} {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Accept Challenge" />
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Medium Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 10 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <form action="{% url 'challenge' user.pk %}?ch=10" method="post">
                {% csrf_token %} {{ form.as_p }}
                <input class="btn btn-warning" type="submit" value="Accept Challenge" />
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Hard Mode</h5>
              <p class="card-text">In this challenge mode, you will take on 15 questions back to back! If you get them all right, you will get bonus points! If you get one wrong, you get nothing!</p>
              <form action="{% url 'challenge' user.pk %}?ch=15" method="post">
                {% csrf_token %} {{ form.as_p }}
                <input class="btn btn-danger" type="submit" value="Accept Challenge" />
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endif %}

{% endblock content %}