{% extends 'base.html' %}
{% block content %}
<p>{{ question.description }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'question' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.possible_answers %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}">
    <label for="choice{{ forloop.counter }}">{{ choice }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
{% endblock content %}