{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="profile">
	<div id="profile-main">
		<header>
			<h1>{{ profile_user.username }}</h1>
			{% if profile_user != request.user and profile_user not in request.user.friends.all %}
				<form action="/send_friend_request/{{ profile_user.id }}/" method="POST">
					{% csrf_token %}
					<button type="submit">Send Friend Request</button>
				</form>
			{% endif %}
		</header>
		<div>
			<p>Current Streak: {{ profile_user.streak }}</p>
			<p>Longest Streak: {{ profile_user.longest_streak }}</p>
			<h5>Completed Problems</h5>
			{% for i in completed_list %}
			<p>{{ i.1 }}: {{ i.0 }}</p>
			{% endfor %}
		</div>
		<div>
			{% for b in badge_list %}
			<img src="{% static b %}" alt="Badge">
			{% endfor %}
		</div>
	</div>
	<div id="friends">
		<h1>Friends:</h1>
		{% for friend in profile_user.friends.all %}
		<p>{{ friend }} 
			{% if profile_user == request.user %}
			<a href="/remove_friend/{{friend.id}}/">Remove</a>
			{% endif %}
		</p>
		{% endfor %}
		{% if profile_user == request.user %}
			<h1>Friend Requests:</h1>
				{% for friend_request in user.receiver.all %}
					<p>{{friend_request.user}} <a href="/accept_friend_request/{{friend_request.id}}/"><img src="https://img.icons8.com/offices/24/000000/checkmark.png"/></a> <a href="/decline_friend_request/{{friend_request.id}}/"><img src="https://img.icons8.com/material/24/fa314a/xbox-x.png"/></a></p>
				{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock content %}