{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <header>
        <h1>{{ profile_user.username }}</h1>
		<p><a href="{% url 'friends:friend_requests' request.user.id %}">Friend Requests ({{ friend_requests|length }})</a></p>
    </header>
    <div>
        <h3>{{ profile_user.username }}'s Stats</h3>
        <p>Current Streak: {{ profile_user.streak }}</p>
        <p>Longest Streak: {{ profile_user.longest_streak }}</p>
    </div>
    <div>
        {% for b in badge_list %}
        <img src="{% static b %}" alt="Badge">
        {% endfor %}
    </div>
</div>

<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			//cancelFriendRequest("{{id}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			//removeFriend("{{id}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		//declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
	
</script>

{% include 'snippets/send_friend_request.html' %}
{% include 'snippets/accept_friend_request.html' %}
{% endblock content %}